@import "tailwindcss";

@theme {
  --font-family-poppins: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #fdfdfd;
  font-family: var(--font-family-poppins);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
